<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu Horizontal</title>
  <%= stylesheet_link_tag 'partials', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
        <img
          src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png"
          height="15"
          alt=""
          loading="lazy"
          />
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Books", "/books", class: 'nav-link'%>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Profile Informations", profile_path(current_user.profile), class: 'nav-link'%>
          </li>
          <li class="nav-item">
            <%= link_to "All Your Loans", loans_path(current_user.profile), class: 'nav-link'%>
          </li>
          <% if current_user.profile.user_type_id == 2 %>
            <li class="nav-item">
              <%= link_to "Book Registration", new_book_path, class: 'nav-link'%>
            </li>
            <li class="nav-item">
              <%= link_to "User Types", user_types_path, class: 'nav-link'%>
            </li>
            <li class="nav-item">
              <%= link_to "All Users", profiles_path, class: 'nav-link'%>
            </li>
            <li class="nav-item">
              <%= link_to "All Loans", loans_path, class: 'nav-link'%>
            </li>

          <% end %>
        <% end %>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if !user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Sign in" , new_user_session_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
</body>
</html>