<p id="notice"><%= notice %></p>
<div class="container" align="center">
  <h1>Books</h1>
  <%= link_to 'New Book', new_book_path, class: 'btn btn-success text-light' %>
</div>

<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Genre</th>
    <th scope="col">Summary</th>
    <th scope="col">Publishing company</th>
    <th scope="col">Language</th>
    <th scope="col">Author</th>
    <th scope="col">Total amount</th>
    <th scope="col">Available</th>
    <% if !user_signed_in? %>
      <th>Actions</th>
    <% else %>
      <th colspan="1"></th>
      <% if current_user.profile.user_type_id == 2 %>
        <th colspan="3">Actions</th>
      <% else %>
        <th colspan="2">Actions</th>
      <% end %>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <tr>
    <% @books.each do |book| %>
    <tr>
      <td><h6><%= book.name %></h6></td>
      <td><h6><%= book.genre %></h6></td>
      <td><h6><%= book.summary %></h6></td>
      <td><h6><%= book.publishing_company %></h6></td>
      <td><h6><%= book.language %></h6></td>
      <td><h6><%= book.author %></h6></td>
      <td><h6><%= book.total_amount %></h6></td>
      <% if book.available? %>
        <td><h6>Yes</h6></td>
      <% else %>
        <td><h6>No</h6></td>
      <% end %>
      <% if user_signed_in? %>
        <td><%= link_to 'Show', book, class: 'btn btn-primary text-light' %></td>
        <td><%= link_to 'Edit', edit_book_path(book), class: 'btn btn-primary text-light' %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger text-light' %></td>
        <td><%= link_to 'Borrow Book', loans_book_index_path(book), class: 'btn btn-primary text-light' %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
