<p id="notice"><%= notice %></p>
<div class="container" align="center">
</div>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Profile ID</th>
    <th>Book Name</th>
    <th>Returned ?</th>
    <th>Borrow Date</th>
    <th>Loan Time</th>
    <th>debit</th>
  </tr>
  </thead>
  <tbody>
  <% @loans.each do |loan| %>
    <tr>
      <td><h6><%= loan.profile.name %></h6></td>
      <td><h6><%= loan.book.name %></h6></td>
      <td><h6></h6></td>
      <td><h6></h6></td>
      <%#= if loan.returned? %>
<!--        <td><h6>Not Yet</h6></td>-->
      <%# else %>
<!--        <td><h6>Already Returned</h6></td>-->
      <%# end %>
      <td><h6><%= loan.created_at %></h6></td>
      <td><h6><%= loan.debit %></h6></td>
    </tr>
  <% end %>
  </tbody>
</table>